In [36]:
%matplotlib inline

In [7]:
train = pd.read_csv('data/train.csv')
test = pd.read_csv('data/test.csv')
sample_submission = pd.read_csv('data/sample_submission.csv')
resource = pd.read_csv('data/resources.csv')

C:\Users\user\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2728: DtypeWarning: Columns (11,12) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [8]:
train_resource = pd.merge(train, resource, on='id', how='left')
test_resource = pd.merge(test, resource, on='id', how='left')

In [9]:
train.shape, test.shape, sample_submission.shape, resource.shape, train_resource.shape, test_resource.shape

((182080, 16),
 (78035, 15),
 (78035, 2),
 (1541272, 4),
 (1081830, 19),
 (459442, 18))

# Description
- id - unique id of the project application
- teacher_id - id of the teacher submitting the application
- teacher_prefix - title of the teacher's name (Ms., Mr., etc.)
- school_state - US state of the teacher's school
- project_submitted_datetime - application submission timestamp
- project_grade_category - school grade levels (PreK-2, 3-5, 6-8, and 9-12)
- project_subject_categories - category of the project (e.g., "Music & The Arts")
- project_subject_subcategories - sub-category of the project (e.g., "Visual Arts")
- project_title - title of the project
- project_essay_1 - first essay*
- project_essay_2 - second essay*
- project_essay_3 - third essay*
- project_essay_4 - fourth essay*
- project_resource_summary - summary of the resources needed for the project
- teacher_number_of_previously_posted_projects - number of previously posted -applications by the submitting teacher
- project_is_approved - whether DonorsChoose proposal was accepted (0="rejected", 1="accepted"); train.csv only

- * Note: Prior to May 17, 2016, the prompts for the essays were as follows:

- project_essay_1: "Introduce us to your classroom"
- project_essay_2: "Tell us more about your students"
- project_essay_3: "Describe how your students will use the materials you're requesting"
- project_essay_4: "Close by sharing why your project will make a difference"

# train data

In [40]:
train.describe()

       teacher_number_of_previously_posted_projects  project_is_approved
count                                 182080.000000        182080.000000
mean                                      11.237055             0.847682
std                                       28.016086             0.359330
min                                        0.000000             0.000000
25%                                        0.000000             1.000000
50%                                        2.000000             1.000000
75%                                        9.000000             1.000000
max                                      451.000000             1.000000

In [45]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 182080 entries, 0 to 182079
Data columns (total 16 columns):
id                                              182080 non-null object
teacher_id                                      182080 non-null object
teacher_prefix                                  182076 non-null object
school_state                                    182080 non-null object
project_submitted_datetime                      182080 non-null object
project_grade_category                          182080 non-null object
project_subject_categories                      182080 non-null object
project_subject_subcategories                   182080 non-null object
project_title                                   182080 non-null object
project_essay_1                                 182080 non-null object
project_essay_2                                 182080 non-null object
project_essay_3                                 6374 non-null object
project_essay_4                                 6374 non-null object
project_resource_summary                        182080 non-null object
teacher_number_of_previously_posted_projects    182080 non-null int64
project_is_approved                             182080 non-null int64
dtypes: int64(2), object(14)
memory usage: 22.2+ MB

In [42]:
train.isnull().sum()

id                                                   0
teacher_id                                           0
teacher_prefix                                       4
school_state                                         0
project_submitted_datetime                           0
project_grade_category                               0
project_subject_categories                           0
project_subject_subcategories                        0
project_title                                        0
project_essay_1                                      0
project_essay_2                                      0
project_essay_3                                 175706
project_essay_4                                 175706
project_resource_summary                             0
teacher_number_of_previously_posted_projects         0
project_is_approved                                  0
dtype: int64

In [44]:
train['project_is_approved'].value_counts() # accepted = 154346, rejected = 27734

1    154346
0     27734
Name: project_is_approved, dtype: int64

In [53]:
train.school_state.value_counts()

CA    25695
TX    12304
NY    12157
FL    10359
NC     8463
IL     7332
GA     6636
SC     6463
MI     5324
PA     5093
IN     4314
MO     4247
OH     4139
MA     4054
LA     3946
WA     3903
OK     3829
NJ     3671
AZ     3614
VA     3446
WI     2983
AL     2955
TN     2836
UT     2814
CT     2766
MD     2480
NV     2297
MS     2222
KY     2172
OR     2119
MN     2055
CO     1887
AR     1757
ID     1113
IA     1079
KS     1060
NM      916
DC      902
HI      869
WV      839
ME      827
DE      589
NH      587
AK      557
SD      494
NE      493
RI      475
MT      384
ND      248
WY      177
VT      139
Name: school_state, dtype: int64

# test data

In [46]:
test.describe()

       teacher_number_of_previously_posted_projects
count                                  78035.000000
mean                                      11.275082
std                                       27.981717
min                                        0.000000
25%                                        0.000000
50%                                        2.000000
75%                                        9.000000
max                                      448.000000

In [47]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78035 entries, 0 to 78034
Data columns (total 15 columns):
id                                              78035 non-null object
teacher_id                                      78035 non-null object
teacher_prefix                                  78034 non-null object
school_state                                    78035 non-null object
project_submitted_datetime                      78035 non-null object
project_grade_category                          78035 non-null object
project_subject_categories                      78035 non-null object
project_subject_subcategories                   78035 non-null object
project_title                                   78035 non-null object
project_essay_1                                 78035 non-null object
project_essay_2                                 78035 non-null object
project_essay_3                                 2704 non-null object
project_essay_4                                 2704 non-null object
project_resource_summary                        78035 non-null object
teacher_number_of_previously_posted_projects    78035 non-null int64
dtypes: int64(1), object(14)
memory usage: 8.9+ MB

In [48]:
test.isnull().sum()

id                                                  0
teacher_id                                          0
teacher_prefix                                      1
school_state                                        0
project_submitted_datetime                          0
project_grade_category                              0
project_subject_categories                          0
project_subject_subcategories                       0
project_title                                       0
project_essay_1                                     0
project_essay_2                                     0
project_essay_3                                 75331
project_essay_4                                 75331
project_resource_summary                            0
teacher_number_of_previously_posted_projects        0
dtype: int64

In [50]:
test.head()

,id,teacher_id,teacher_prefix,school_state,project_submitted_datetime,project_grade_category,project_subject_categories,project_subject_subcategories,project_title,project_essay_1,project_essay_2,project_essay_3,project_essay_4,project_resource_summary,teacher_number_of_previously_posted_projects
0,p233245,5724a0c3ce11008366fff36dab4b943c,Ms.,CA,2016-04-27 13:45:41,Grades PreK-2,Music & The Arts,Visual Arts,Art Will Make You Happy!,My 2nd grade students are amazing! They are v...,My class is made up of 12 boys and 12 girls. ...,My second grade class will really benefit from...,The genorous donations to my project will make...,My students need a drying rack for their art p...,2
1,p096795,445619941dc7cbe81c7be109dc61a56a,Mrs.,SC,2016-04-28 12:43:56,Grades 3-5,"Literacy & Language, Math & Science","Literature & Writing, Mathematics",Keeping up with the TIMEs,Students within the classroom work in small gr...,My students are all very talented young indivi...,"We do a lot of small group, where the student ...",This project is very important to my classroom...,My students need Time Magazines for next year ...,1
2,p236235,e92a4902b1611a189643d6f12c51e6a0,Mrs.,SC,2016-04-29 21:16:05,Grades PreK-2,Math & Science,"Applied Sciences, Mathematics",Building Bridges to Problem Solving,My students share a love of learning. These s...,My class consists of 14 energetic learners. O...,These Fairy Tale Problem Solving STEM kits wil...,These materials will be help my students with ...,My students need to be mentally stimulated to ...,0
3,p233680,8e92622d2985d3faac1de71609c4be72,Mrs.,IA,2016-04-27 22:32:43,Grades PreK-2,Literacy & Language,Literacy,Classroom Library,Reading is the gateway to the soul. Guiding c...,First graders enter the classroom each day rea...,Book bins will help to organize our classroom ...,"When students begin the first grade, many are ...",My students need an organized classroom library.,0
4,p171879,91a3c89981f626d9a0d067c65fb186ce,Mr.,CA,2016-04-27 18:59:15,Grades 6-8,"Music & The Arts, Special Needs","Performing Arts, Special Needs",Reeds so we can Read,"\""Mr. Reyes! I need another reed!\"" I hear t...",We have a diverse population with almost entir...,Each day in my class students consume supplies...,My students come from very troubled homes and ...,My students need reeds to perform in class eac...,1

In [55]:
train_resource.head()

,id,teacher_id,teacher_prefix,school_state,project_submitted_datetime,project_grade_category,project_subject_categories,project_subject_subcategories,project_title,project_essay_1,project_essay_2,project_essay_3,project_essay_4,project_resource_summary,teacher_number_of_previously_posted_projects,project_is_approved,description,quantity,price
0,p036502,484aaf11257089a66cfedc9461c6bd0a,Ms.,NV,2016-11-18 14:45:59,Grades PreK-2,Literacy & Language,Literacy,Super Sight Word Centers,Most of my kindergarten students come from low...,I currently have a differentiated sight word c...,NaN,NaN,My students need 6 Ipod Nano's to create and d...,26,1,Apple - iPod nano� 16GB MP3 Player (8th Genera...,3,149.99
1,p036502,484aaf11257089a66cfedc9461c6bd0a,Ms.,NV,2016-11-18 14:45:59,Grades PreK-2,Literacy & Language,Literacy,Super Sight Word Centers,Most of my kindergarten students come from low...,I currently have a differentiated sight word c...,NaN,NaN,My students need 6 Ipod Nano's to create and d...,26,1,Apple - iPod nano� 16GB MP3 Player (8th Genera...,3,149.99
2,p039565,df72a3ba8089423fa8a94be88060f6ed,Mrs.,GA,2017-04-26 15:57:28,Grades 3-5,"Music & The Arts, Health & Sports","Performing Arts, Team Sports",Keep Calm and Dance On,Our elementary school is a culturally rich sch...,We strive to provide our diverse population of...,NaN,NaN,My students need matching shirts to wear for d...,1,0,Reebok Girls' Fashion Dance Graphic T-Shirt - ...,20,20.00
3,p233823,a9b876a9252e08a55e3d894150f75ba3,Ms.,UT,2017-01-01 22:57:44,Grades 3-5,"Math & Science, Literacy & Language","Applied Sciences, Literature & Writing",Lets 3Doodle to Learn,Hello;\r\nMy name is Mrs. Brotherton. I teach ...,We are looking to add some 3Doodler to our cla...,NaN,NaN,My students need the 3doodler. We are an SEM s...,5,1,3doodler Start Full Edu Bundle,1,469.99
4,p185307,525fdbb6ec7f538a48beebaa0a51b24f,Mr.,NC,2016-08-12 15:42:11,Grades 3-5,Health & Sports,Health & Wellness,"\""Kid Inspired\"" Equipment to Increase Activit...",My students are the greatest students but are ...,"The student's project which is totally \""kid-i...",NaN,NaN,My students need balls and other activity equi...,16,0,BALL PG 4'' POLY SET OF 6 COLORS,1,18.95

In [58]:
train['project_submitted_datetime'].value_counts()

2016-09-01 00:00:03    30
2016-09-01 00:00:05    23
2016-09-01 00:00:06    21
2016-09-01 00:00:04    20
2016-09-01 00:00:01    20
2016-09-01 00:00:02    17
2016-09-01 00:01:06    15
2016-09-01 00:00:09    15
2016-09-01 00:00:08    13
2016-09-01 00:00:07    13
2016-09-01 00:01:02    12
2016-09-01 00:00:18    11
2016-09-01 00:00:14    10
2016-09-01 00:00:21    10
2016-09-01 00:00:16    10
2016-09-01 00:01:07    10
2016-09-01 00:01:04    10
2016-09-01 00:00:12     9
2016-09-01 00:02:11     9
2016-09-01 00:01:01     8
2016-09-01 00:02:08     8
2016-09-01 00:00:10     8
2016-09-01 00:01:03     8
2016-09-01 00:01:11     8
2016-09-01 00:01:18     8
2016-09-01 00:00:15     7
2016-09-01 00:02:12     7
2016-09-01 00:00:20     7
2016-09-01 00:00:39     7
2016-09-01 00:00:17     7
                       ..
2016-07-20 12:51:56     1
2017-04-14 13:29:21     1
2016-12-06 19:56:17     1
2016-08-20 16:21:55     1
2017-04-20 09:46:16     1
2016-06-28 16:32:20     1
2016-12-07 22:56:23     1
2016-12-10 14:26:32     1
2016-10-14 08:39:25     1
2017-03-14 16:55:11     1
2016-05-01 22:58:40     1
2016-06-23 08:57:20     1
2016-09-18 23:04:18     1
2016-08-17 20:04:45     1
2017-03-11 17:00:25     1
2017-02-23 15:33:54     1
2017-03-28 12:34:41     1
2016-07-07 12:55:33     1
2016-08-19 15:43:34     1
2016-08-02 18:35:18     1
2016-09-09 20:46:49     1
2016-08-16 23:51:55     1
2016-09-07 18:19:48     1
2016-08-01 12:24:37     1
2016-07-13 10:39:20     1
2017-03-14 19:18:49     1
2016-07-02 19:37:01     1
2017-03-28 23:14:40     1
2016-09-04 12:03:48     1
2016-09-01 14:10:57     1
Name: project_submitted_datetime, Length: 180439, dtype: int64